{
  "plugins": [ "prettier" ],
  "extends": [ "airbnb-typescript", "react-app", "react-app/jest", "prettier" ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": { "project": "./tsconfig.json" },
  "settings": {
    "import/resolver": { "typescript": { "alwaysTryTypes": true } }
  },
  "rules": {
    "prettier/prettier": ["warn", {
      "trailingComma": "all",
      "singleQuote": true,
      "jsxSingleQuote": true,
      "printWidth": 120,
      "arrowParens": "avoid" // Allow single argument without parentheses in arrow functions
    }],
    "import/no-anonymous-default-export": 0, // Allow "export default"
    "react/jsx-one-expression-per-line": 0,
    "@typescript-eslint/no-unused-vars": ["warn", {
      "vars": "local",
      "args": "after-used",
      "ignoreRestSiblings": true
    }],
    "import/order": ["warn", {
      "groups": [
        "external", // node_modules
        "internal", // src folder
        ["parent", "sibling"]
      ],
      "newlines-between": "always" // Separate all groups with new line
    }],
    "no-plusplus": 0,
    "consistent-return": 0, // returning value is not required in arrow functions
    "@typescript-eslint/indent": 0,
    "no-nested-ternary": 0,
    "react/require-default-props": 0,
    "@typescript-eslint/no-shadow": 0 // Allow using same variable name in outer and function scopes
  }
}